@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");

body {
  background-color: black;
}

a {
  text-decoration: none;
}

.nav-bar-text {
  font-family: "Inconsolata", monospace;
  font-size: 240%;
  color: #cfa0f4;
}
.nav-bar-text:hover {
  color: #cfa0f4;
}
.category-heading {
  font-family: "Inconsolata", monospace;
  font-size: 200%;
  color: #cfa0f4;
}
.main-heading {
  font-family: "Inconsolata", monospace;
  font-size: 250%;
  color: #cfa0f4;
}

.text-purple {
  color: #ae6ae2;
}
.text-purple:hover {
  color: #b984e2;
}

.movies-nav-bar {
  position: absolute;
  top: 0;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 2rem;
}

.movies-nav-filler {
  height: 4rem;
}

.movie-details {
  margin: 1rem;
  padding: 1rem;
  border: solid #0d6efd 1px;
  box-shadow: 0px 4px 10px #0d6efd;
  border-radius: 0.5rem;
}

/*Home*/
.home-search-background {
  height: 100vh;
  background-image: url("home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-search-container {
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 16px 4px #0d6efd;
  animation: dropin 8s ease forwards infinite;
}

@keyframes dropin {
  20% {
    box-shadow: 0px 0px 16px 4px #c43fd8f1;
  }
  40% {
    box-shadow: 0px 0px 16px 4px #f00c35;
  }
  60% {
    box-shadow: 0px 0px 16px 4px #110cf0;
  }
  80% {
    box-shadow: 0px 0px 16px 4px #0cf083;
  }
  100% {
    box-shadow: 0px 0px 16px 4px #0d6efd;
  }
}

/*Movie Results & Details*/
.results-grid {
  min-height: 80vh;
  padding: 1rem;
}

.results-grid-item:hover {
  border: solid #0d6efd 1px;
  box-shadow: 0px 4px 10px #0d6efd;
}

.cast-grid-item:hover {
  border: solid #0d6efd 1px;
}

/*Empty box*/
.empty-box {
  min-height: 4rem;
  padding: 1rem;
  background-color: #997404;
  border-radius: 0.5rem;
}

/*heart.svg*/
.heart-svg {
  display: block;
  margin: auto;
}

/*Make cursor Pointer*/
.cursor-pointer {
  cursor: pointer;
}
