.App {
  background-color: black;
}

.home-search-background {
  height: 100vh;
  background-image: url("home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-search-container {
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
}

.movies-nav-bar {
  position: absolute;
  top: 0;
  height: 2rem;
}

.movies-nav-filler {
  height: 4rem;
}
